[Unit]
Description=Debian Package Repository Container
After=docker.service
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull effectiverange/debian-package-repository:${TAG}
ExecStart=/usr/bin/docker run -p 9000:9000 --name=debian-package-repository \
    -v /etc/effective-range/debian-package-repository:/etc/effective-range/debian-package-repository \
    -v /var/log/effective-range/debian-package-repository:/var/log/effective-range/debian-package-repository \
    -v /opt/debs:/opt/debs \
    effectiverange/debian-package-repository:${TAG}
ExecStop=/usr/bin/docker kill debian-package-repository
ExecStopPost=/usr/bin/docker rm debian-package-repository

[Install]
WantedBy=multi-user.target
